*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span{
    width: 100%;
    border: 1px solid black;
}
.expense {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media(min-width: 600px){
     a{
        color: black;
    }
    .navbar{
        padding: 1%;
        color: white;
        border: 1px solid black;
        background-color: teal;
    }
    .navbar > a {
        color: white;
    }
    .navbar > div{
        text-align: right;
    }
    .expense{
        margin: 5%;
        display: flex;
        flex-direction: column;
    }
    .expense> button {
        width: 20%;
    }
    .accounts{
        display: flex;
        width: 25%;
    }
}


@media(max-width: 599px){
    a{
        color: black;
    }
    .navbar{
        padding: 1%;
        color: white;
        border: 1px solid black;
        background-color: teal;
    }
    .navbar > a {
        color: white;
    }
    .navbar > div{
        text-align: right;
    }
    .expense{
        margin: 5%;
        display: flex;
        flex-direction: column;
    }
    .expense> button {
        width: 20%;
    }
    .accounts{
        display: flex;
        justify-content: center;
    }

}