span{
    width: 100%;
    border: 1px solid black;
}
.expense {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media(max-width: 400px){
    .expense{
        background-color: red;
    }
}